lxml
matplotlib
nose
numpy-1.13.1+mkl-cp36-cp36m-win_amd64.whl
PyQt5
sqlalchemy
scipy-0.19.1-cp36-cp36m-win_amd64.whl
scikit_image-0.13.0-cp36-cp36m-win_amd64.whl
Shapely-1.5.17-cp36-cp36m-win_amd64.whl
